// GLOBALS
$primary: #6DCDEC;
$primary-dark: #0B9FCF;
$secondary: #CDCDCD;
$highlight: #FFC970;
$highlight-dark: #FF9311;

$transition-time: 500ms;

/* ========== Defaults ========== */

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: normal;
  font-style: normal;
}

h2 {
  font-size: 1.5rem;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-size: 1.2rem;
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
  color: $primary-dark;
  transition: $transition-time;

  &:hover, &:focus {
    color: $highlight-dark;
  }
}

// Duct-tape fix for icons
// (I should find a better way to do this)
a i.size-16 {
  margin: 0;
}

/* ====== Fancy-Ass Classes ====== */

// headers
.din-head {
  font-family: "DINPro";
  font-weight: normal;
  font-style: normal;  
}

.primary-header {
  padding-bottom: 1rem;
  border-bottom: 2px solid $primary;
}

.secondary-header {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid $secondary;
}

.header_split_right {
  text-align: right;
}

.header_split_center {
  text-align: center;
}

// This hack kind of sucks
.header_split_upper_space {
  margin-top: 4rem;
}

// buttons
.button {
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;

  background-color: $primary;
  border-radius: 0.25em;
  border-bottom: solid;
  border-color: $primary-dark;

  transition: $transition-time;

  &:hover, &:focus {
    color: #FFFFFF;
    background-color: $highlight;
    border-color: $highlight-dark;
  }
}